<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
</head>

<body>
    <div id ="index"> 
<header>
    <h1><a href="/webshop"> My Shop</a></h1>
    <nav>
        <a href="/only-available" class="navButtons">only available</a>
        <a href="/cheapest-first" class="navButtons">cheaper first</a>
        <a href="/contains-nike" class="navButtons">contains nike</a>
        <a href="/avg-stock" class="navButtons">avg stock</a>
        <a href="/most-expensive-available" class="navButtons">most expensive available</a>
    </nav>
</header>
    <div id ="search">  
        <label for="searchBar">
        Search for:
        </label>
        <input type="search" placeholder="...something like nike" id="searchBar">
        <input type="submit" value="Search">
    </div>
<table>
    <thead class="thead">
        <th id = "name">Name</th>
        <th id = "description">Description</th>
        <th id = "price">Price</th>
        <th id = "quantityOfStock">Quantity of stock</th>
    </thead>
    <tbody>
        <tr th:each="item : ${shopItems}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getQuantity()}"></td>
        </tr>
    </tbody>
</table>    

    </div>
</body>
</html>